/* STYLE */
input[type="range"] {
    -webkit-appearance: none;
    /* Supprime le style par défaut */
    width: 100%;
    background: linear-gradient(to right, #027580 50%, #ddd 50%);
    /* Couleur remplie à 50% */
    height: 1em;
    /* Hauteur de la barre */
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    /* Coins arrondis */
    outline: none;
    cursor: default;
    margin-top: 2em;
}

/* Supprimer le rond (thumb) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    display: none;
    /* Masquer le thumb */
}

/* Pour Firefox */
input[type="range"]::-moz-range-thumb {
    display: none;
}


main {
    width: 95.5%;
    margin: 0 auto;
}


main section {
    width: 85.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Article 1 */
main section article:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 3.5em;
}

main section article:nth-child(1) picture:nth-child(1) p {
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
}

main section article:nth-child(1) picture:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

main section article:nth-child(1) picture:nth-child(3) p:first-child {
    font-weight: 700;
    font-size: 1.1em;
}


/* FORM */

#article-form {
    margin-top: 2em;
    width: 100%;
}


#article-form form {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

#article-form form div:nth-child(1) {
    margin-top: 2em;
}

#div-form1 picture{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline-end: 1.1em;
    gap: 1.5em;
}
#div-form1  picture label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline-end: 1.1em;
    gap: 1.5em;
    min-width: 49.7%;
    width: auto;
}


#div-form1 picture label span {
    margin-top: -0.1em;

}

#div-form2 label span {
    margin-top: -0.1em;

}

:where(#div-form1, #div-form2, #div-form4) label {
    outline: 1px solid #949494;
    width:  max-content!important;
    border-radius: 1.2em;
    position: relative;

}

:where(#div-form1, #div-form2, #div-form4) label:focus-within {
    outline: 1px solid teal;
}

:where(#div-form1, #div-form2, #div-form4) label:focus-within .styleSpan {
    color: teal;
}


:where(#div-form1, #div-form2, #div-form4) label span {
    position: absolute;
    font-size: 0.9em;
    font-weight: 400;
    margin-top: -0.7em;
    margin-left: 1.5em;
    background: #fff;
    padding-inline: 0.4em;
    cursor: text;
}
:where(#div-form1, #div-form2, #div-form4) label input::placeholder {
    font-size: 1em;
    font-weight: 400;
    margin-top: -0.7em;
    margin-left: 1.5em;
    background: #fff;
    padding-inline: 0.4em;
    cursor: text;
}


/* #duree {
    background: teal !important;
} */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* style input */
.label {
    position: relative;
}

.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
align-items: center;
min-width: 100%;
padding-inline-end: 1.5em;
}

.pi-s{
    padding-inline-start: 1em;
    color: teal;
}
.pi-s input{
    color: teal !important;

}
.pi-s i{
    color: teal !important;
}

.label-span {
    transition: 0.3s ease;
    margin-left: 1.1em !important;
    margin-top: 0;
    /* Position de départ */
}

/* .label:focus-within .label-span,
.label .durees:not(:placeholder-shown)+.label-span {
    margin-top: -4.8em;
    margin-left: 1.5em !important;
    color: teal;
} */

.label:focus-within {
    outline: 1px solid teal;
}

.label-span {
    margin-top: -5em !important;
}

.label:focus-within .label-span {
    color: #027580;
}

.svg {
    transition: fill 0.2s ease;
    fill: #A6A3A3;
}

.label:focus-within .svg {
    fill: teal !important;
}

/* end */




:where(#div-form1, #div-form2, #div-form4) label :is(input, textarea) {
    width: 100%;
    height: 5em;
    border: none;
    outline: none;
    padding: 1.5em;
    border-radius: 1.2em;
    font-family: 'montserrat' !important;
    resize: none;
    background: none;
}

#sub {
    display: flex;
    justify-content: end;
    margin-bottom: -2.5em;
    font-size: 1em;
    color: #A6A3A3;
    padding: 0.5em;
}

#duree {
    padding: 1.5em;
    width: 100%;
    border-radius: 1.2em;
    background: none;
    margin-left: 1em;
}
#div-form2 input::placeholder{
    color: currentColor !important;
    font-weight: 500;
}
#div-form4 input::placeholder{
    color: teal !important;
    font-weight: 600;
}
#div-form5 {
    min-width: 100%;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 3em;
}
#div-form5 picture{
    min-width: 100%;
}
#div-form5 picture img{
   width: 100%;
   height: auto;
border-radius: 1em;
}
#svgDesktop{
    margin-top: -35.5em;
    margin-bottom: 4.8em;
    margin-left: 12em;
    object-fit: cover;
     }

     #svgMobile{
        display: none;
      }
#div-form6{
    display: flex;
     flex-direction: row;
     gap: 2em;
     justify-content: end;
}
#div-form6 picture{
    display: flex;
     flex-direction: row;
     gap: 1em;
}